<footer class="footer mt-auto py-3">
    <div class="container">
        <p>
            <span class="text-muted"><a href="/contact.html">Contact Us</a></span> |
            <span class="text-muted"><a href="mailto:noc@as207960.net">Network Operation Center</a></span> |
            <span class="text-muted"><a href="/assets/docs/AS207960_T_C_s.pdf">Terms &amp; Conditions</a></span> |
            <span class="text-muted"><a href="/assets/docs/privacy_notice.pdf">Privacy Notice</a></span>
        </p>
        <p>
            AS207960 Cyfyngedig, trading as Glauca Digital, is:
        </p>
        <ul>
            <li>
                a limited company registered in Wales (&#x2116
                <a href="https://find-and-update.company-information.service.gov.uk/company/12417574">12417574</a>)
            </li>
            <li>
                a registered data controller with the Information Commissioner's Office (&#x2116
                <a href="https://as207960.net/assets/docs/ico_registration.pdf">ZA782876</a>)
            </li>
            <li>
                registered for VAT in the EU (&#x2116 EU372013983)
            </li>
        </ul>
        <div class="row justify-content-center">
            <div class="col-auto"><img src="https://as207960.net/assets/img/powered-by-linux.png"
                                       style="max-height: 100px;" alt="Badge: Powered By Linux"/></div>
            <div class="col-auto"><img src="https://as207960.net/assets/img/socks.png" style="max-height: 100px;"
                                       alt="Badge with text 'This site was made with PROGRAMMING SOCKS!', some trans flag socks and a pixel art trans pride flag"/>
            </div>
        </div>
    </div>
</footer>
<script async defer data-domain="as207960.net" src="https://plausible.as207960.net/js/index.js"></script>
