    <footer class="footer mt-auto py-3">
        <div class="container">
            <p>
                <span class="text-muted"><a href="/contact.html">Contact Us</a></span> | 
                <span class="text-muted"><a href="mailto:noc@as207960.net">Network Operation Center</a></span> |
                <span class="text-muted"><a href="/assets/docs/AS207960_T_C_s.pdf">Terms &amp; Conditions</a></span> |
                <span class="text-muted"><a href="/assets/docs/privacy_notice.pdf">Privacy Notice</a></span>
            </p>
            <p>
                AS207960 Cyfyngedig, Trading as Aozame, is a limited company registered in Wales under company number <a href="https://beta.companieshouse.gov.uk/company/12417574">12417574</a>
            </p>
        </div>
    </footer>
