{% seo title=false %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
	/* Begin Body Style */
	body {
          min-height: 100vh;
          display: flex;
          flex-direction: column;
        }	
	/* End Body Style */

	/* Begin Footer Styles */
        .footer {
            background-color: #f5f5f5;
        }

        .footer>.container {
            padding-right: 15px;
            padding-left: 15px;
        }
	/* End Footer Styles */
</style>
